
h3 {
   
    font-family: cursive;
    text-align: centre;

}

p {
   
    font-family: cursive;
    font-size: medium;
    text-align: centre;

}

i {
    font-family: cursive;
    font-size: medium;
}